.main-right-bottom > h1 {
    font-size: 23px;
    margin-top: 20px;
    font-weight: 550;
    margin-bottom: 20px;
    margin-left: -2px;
}

.alert-item {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 12.5px;
    border-radius: 15px;
    max-width: 75%;
    min-width: 75%;
    background-color: rgba(135, 193, 207, 0.431);
    cursor: default;
    box-shadow: 0px 20px 40px rgb(18, 18, 18, 0.5);
}

.alert-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    // max-width: 
}

.alert-location {
    text-align: center;
    font-size: 14px;
    font-weight: 550;
    margin-bottom: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    max-width: 75%;
    min-width: 75%;
}

.alert-description {
    font-size: 12.5px;
    text-align: center;
}

.alert-date-time {
    min-width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    position: relative;
}

.alert-time {
    background-color: rgb(42, 65, 63);
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 12px;
}
.alert-date {
    background-color: rgb(42, 65, 63);
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 12px;
}

.alerts-stations {
    margin-top: 5px;
    font-size: 10px;
}

.YELLOW {
    background-color: rgb(234, 221, 101);
    border-radius: 5px;
    color: rgb(37, 37, 37);
}

.ORANGE {
    background-color: rgb(230, 158, 90);
    border-radius: 5px;
}

.RED {
    background-color: rgb(230, 90, 90);
    border-radius: 5px;
}

.WHITE {
    background-color: white;
    color: rgb(37, 37, 37);
    border-radius: 5px;
}

.alert-description {
    margin-top: 5px;
    margin-bottom: 5px;
}

.edit-delete-alert {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-width: 50%;
}

.edit-alert-button {
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(42, 65, 78);
    border: none;
    max-height: 14px;
    font-size: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 20px;
}

.delete-alert-button {
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(42, 65, 78);
    border: none;
    max-height: 14px;
    font-size: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
}

