.main-right-bottom > h1 {
    font-size: 23px;
    margin-top: 10%;
}

.alert-item-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 85%;
}
.alert-item {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 12.5px;
    border-radius: 15px;
    max-width: 90%;
    min-width: 90%;
    background-color: rgba(135, 193, 207, 0.431);
    cursor: default;
}

.alert-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alert-location {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.alert-description {
    font-size: 12.5px;
    text-align: center;
}

.RED {
    background-color: rgb(230, 90, 90);
    border-radius: 5px;
    max-width: 75%;
    min-width: 75%;
}

.white {
    background-color: white;
    color: rgb(37, 37, 37);
    border-radius: 5px;
    max-width: 75%;
    min-width: 75%;
}

.alert-description {
    margin-top: 5px;
    margin-bottom: 5px;
}