.main {
  white-space: none;
  flex-wrap: wrap;
  background-color:#98cccc;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header h4 {
  margin: 20px;
  font-weight: 500;
  font-size: 13px;
}

#link {
  color: white;
  text-decoration: none;
  transition: background-color .25s ease, color .25s ease-in;
}

#link:hover {
  color: #98cccc;
}

#link:active {
  position: relative;
  top: 1px;
}

.logout-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  border: none;
}

.logout-button-container > button {
  background-color: none;
  color: white;
  text-decoration: none;
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  transition: color .25s ease, color .25s ease-in;
}

.logout-button-container > button:hover {
  color: #98cccc;
}

.logout-button-container > button:active {
  position: relative;
  top: 1px;
}

// position: relative;
// top: 1px;
// max-width: 179px;
// min-width: 119px;

@media (max-width: 700px){
  .user-email {
    display: none;
  }
}

.header {
  z-index: 1000;
  min-width: 100%;
  white-space: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: -50px;
  font-size: 12px;
  text-align: center;;
  font-weight: 100;
  position: fixed;
  max-height: 52px;
  background: linear-gradient(162deg, rgb(34, 44, 57) 10%, rgb(31, 42, 48) 79%, rgb(33, 52, 59) 100%) 100% center / cover, url(https://robinhood-clone-assets.s3.amazonaws.com/noise__d63eaf58eecf93a9e61385dd154fba64.svg) rgb(31, 41, 60);
}

.links {
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  white-space: none;
  margin-left: 200px;
  color: white;
}

#about {
  display: inline-block;
}

#create-alert-button {
  display: inline-block;
}

#view-alerts-button {
  display: inline-block;
}

.nav-links {
  white-space: none;
  display: flex;
  color: white;
  margin-right: 20px;
  align-items: center;
  font-size: 13px;
  line-height: 20px;
}

.header-logo {
  margin: none;
  padding: none;
  min-width: 150px;
  min-height: 50px;
  max-height: 50px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  max-width: 150px;
  margin-left: 20px;
  transition: opacity .25s ease, color .25s ease-in;
  opacity: 90%;
}

#logo:hover {
  opacity: 100%;
}

.map-container {
  width: 100%;
  height: 85vh;
  border-radius: 5px;
  margin-left: 5%;
  margin-bottom: 50px;
}

.map {
  display: flex;
  min-width: 100%;
  justify-content: center;
  align-items: center;
}

.main-left-side {
  // z-index: 10;
  margin-top: 50px;
  display: inline-block;
  width: 50%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  background-color:#98cccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-right-side {
  // z-index: 10;
  margin-left: 50%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  width: 50%;
  height: 100vh;
  background-color:#98cccc;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25px;
}

.main-right-top {
  width: 90%;
  min-height: 40vh;
  max-height: 40vh;
  background: linear-gradient(162deg, rgb(34, 44, 57) 10%, rgb(31, 42, 48) 79%, rgb(33, 52, 59) 100%) 100% center / cover, url(https://robinhood-clone-assets.s3.amazonaws.com/noise__d63eaf58eecf93a9e61385dd154fba64.svg) rgb(31, 41, 60);
  border-radius: 5px;
  margin-top: 4vh;
  overflow-x: hidden;
}

.main-right-top::-webkit-scrollbar {
  width: 5px;
  max-height: 80%;
  height: 50%;
}

.main-right-top::-webkit-scrollbar-track {
  background: linear-gradient(162deg, rgb(34, 44, 57) 5%, rgb(31, 42, 48) 60%, rgb(33, 52, 59) 100%) 20% center / cover, url(https://robinhood-clone-assets.s3.amazonaws.com/noise__d63eaf58eecf93a9e61385dd154fba64.svg) rgb(30, 35, 44);
  border-radius: 5px;
}

.main-right-top::-webkit-scrollbar-thumb {
  background-color:#5a857e;
  border-radius: 2px;
}

.main-right-bottom {
  width: 90%;
  background: linear-gradient(162deg, rgb(34, 44, 57) 5%, rgb(31, 42, 48) 60%, rgb(33, 52, 59) 100%) 20% center / cover, url(https://robinhood-clone-assets.s3.amazonaws.com/noise__d63eaf58eecf93a9e61385dd154fba64.svg) rgb(30, 35, 44);
  border-radius: 5px;
  margin-top: 5vh;
  min-height: 40vh;
  max-height: 40vh;
  margin-bottom: 4vh;
  overflow-x: hidden;
  overflow-y:auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
  padding-bottom: 20px;
}

.main-right-bottom::-webkit-scrollbar {
  width: 5px;
  max-height: 80%;
  height: 50%;
}

.main-right-bottom::-webkit-scrollbar-track {
  background: linear-gradient(162deg, rgb(34, 44, 57) 5%, rgb(31, 42, 48) 60%, rgb(33, 52, 59) 100%) 20% center / cover, url(https://robinhood-clone-assets.s3.amazonaws.com/noise__d63eaf58eecf93a9e61385dd154fba64.svg) rgb(30, 35, 44);
  border-radius: 5px;
}

.main-right-bottom::-webkit-scrollbar-thumb {
  background-color:#5a857e;
  border-radius: 2px;
}

// Don't let Google see this!!

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.transitlayer-toggle {
  z-index: 5000;
  position: absolute;
  background-color: #98cccc;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden; 
  color: black;
  font-size: 10px;  
  padding: 2px;
  min-width: 100px;
  border-radius: 7px 2px;
  left: 5px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .25s ease, color .25s ease-in;
}

.transitlayer-toggle:hover {
  background-color: #74b6b6;
  color: white;
}