.session-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1005;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  animation: fadeIn 1.5s, slideIn 1.2s;
  z-index: 4500;
}

@keyframes fadeIn {
  0% { opacity: 0.75; }

  50% { opacity: 1; }
}

@keyframes slideIn {
  0% { margin-top: 5px; }

  50% { margin-top: 0px; }
}

.close-modal {
  filter: invert(100%) sepia(1%) saturate(2136%) hue-rotate(254deg) brightness(113%) contrast(100%);
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  transition: filter .25s ease;
}

.profile-container > * {
  height: 450px;
  width: 400px;
  background: linear-gradient(162deg, rgb(34, 44, 57) 10%, rgb(31, 42, 48) 79%, rgb(33, 52, 59) 100%) 100% center / cover, url(https://robinhood-clone-assets.s3.amazonaws.com/noise__d63eaf58eecf93a9e61385dd154fba64.svg) rgb(31, 41, 60);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 10px 50px 0.5px rgb(35, 35, 35);
  color: white;
  font-size: 14px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22.5px;
  margin-bottom: 60px;
  cursor: default;
}

.select-stations-directions {
  font-size: 10px;
  margin-top: 60px;
  cursor: default;
}

.profile-preferences {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 56px;
  margin-left: 56px;
}

.preference-radio-container {
  min-width: 36px;
  cursor: default;
}

.preference-radio {
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  color: #98cccc;

}

input[type="checkbox"] {
  appearance: none;
  background-color: rgb(84, 133, 163);
  margin-left: 7px;
  width: 1.15em;
  height: 1.15em;
  border-radius: 0.15em;
  transform: translateY(1.95em);
  transition: background-color .25s ease;

}

input[type="checkbox"]:checked {
  background-color: rgb(87, 232, 128);
  border: 2px solid rgb(255, 255, 255, 0.3);
}

input[type="checkbox"]:checked:hover {
  background-color: rgb(87, 232, 128);
  border: 2px solid rgb(255, 255, 255, 0.3);
}

input[type="checkbox"]:hover {
  background-color: #98cccc;
  border: 2px solid rgb(255, 255, 255, 0.3);
}